---
# tasks file for edjruntime
       - name: edjcli binary
         shell: wget "{{ RUNTIME }}" -O runtime.zip
         #register: runtime.zip
       - name: Extract runtime
         unarchive:
          remote_src: yes
          src: runtime.zip
          dest: ./
          list_files: yes
         register: unzip
       - debug:
           msg: "{{ unzip.stdout }}"
       - name: delete runtime.zip
         shell: rm -f runtime.zip
       - name: Install CLI
         shell: sudo curl -L "{{ EDJX_BINARY }}" -o /usr/local/bin/edjx && sudo chmod +x /usr/local/bin/edjx
         register: cli
       - name: init
         shell: edjx config init
         register: init
       - debug:
           msg: "{{ init.stdout }}"
       - name: edjx login
         shell:  edjx login -u {{ username }} -p {{ password }}
         register: login
       - debug:
           msg: "{{ login.stdout }}"
          
