---
# tasks file for edjruntime
       - name: Add edjruntime user
         user:
           name: edjruntime
           password: '???'
           update_password: always
           shell: /bin/bash
           state: present
           append: yes
         become: yes
       - name: ensure edjx dir exists
         file:
          path: /home/edjruntime/.edjx
          state: directory
          owner: edjruntime
       - name: "Unarchive edjruntime.zip"
         unarchive:
          src: "{{ RUNTIME }}"
          dest: /home/edjruntime/.edjx
          owner: edjruntime
          mode: '0775'
          remote_src: yes
          list_files: yes
       - name: Install CLI
         shell: sudo curl -L "{{ EDJX_BINARY }}" -o /usr/local/bin/edjx && sudo chmod +x /usr/local/bin/edjx
         register: cli
       - name: init
         become: yes
         become_user: edjruntime
         shell: edjx config init -d {{ DOMAIN }}
         register: init
       - debug:
           msg: "{{ init.stdout }}"
       - name: edjx login
         shell:  edjx login -u {{ username }} -p {{ password }}
         register: login
       - debug:
           msg: "{{ login.stdout }}"
