- name: stop dns service
  become: yes
  shell: systemctl stop systemd-resolved
  tags: dnsservice
- name: update dns record
  become: yes
  shell: echo "nameserver 1.1.1.1" > /etc/resolv.conf
  tags: dnsrecord
- name: node register
  become: yes
  become_user: edjruntime
  shell: |
          ip=$(wget -q -O - ipinfo.io/ip)
          edjx genkeys --priv {{ CERTIFICATES }}/private.pem --pub {{ CERTIFICATES }}/public.pem
          edjx node init {{ CERTIFICATES }}/private.pem
          edjx node gencsr {{ CERTIFICATES }}/private.pem -o {{ CERTIFICATES }}/csr.pem
          edjx node createcert {{ CERTIFICATES }}/csr.pem -c {{ CERTIFICATES }}/cert.pem
          edjx node gen-env {{ CERTIFICATES }}/private.pem -i $ip -o runtime/.env -w {{ WRITER_NODE_ID }} -b {{ BOOTSTRAP_NODE_ADDRESS }} --dns --greedy --bootstrap
  register: noderegister
- name: add user to docker group
  command: sudo usermod -aG docker edjruntime
- name: node start
  become: yes
  become_user: edjruntime
  args:
     chdir: /home/edjruntime/.edjx
  shell: | 
        sed -i '/^\s*$/d' runtime/.env
        edjx node start
- debug:
     msg: "{{ noderegister.stdout }}"
