- name: stop dns service
  become: yes
  shell: systemctl stop systemd-resolved
  tags: dnsservice
- name: update dns record
  become: yes
  shell: echo "nameserver 1.1.1.1" > /etc/resolv.conf
  tags: dnsrecord
- name: node register
  become: yes
  become_user: edjruntime
  shell: |
          ip=$(wget -q -O - ipinfo.io/ip)
          edjx genkeys --priv {{ CERTIFICATES }}/private.pem --pub {{ CERTIFICATES }}/public.pem
          edjx node init {{ CERTIFICATES }}/private.pem
          edjx node gencsr {{ CERTIFICATES }}/private.pem -o {{ CERTIFICATES }}/csr.pem
          edjx node createcert {{ CERTIFICATES }}/csr.pem -c {{ CERTIFICATES }}/cert.pem
  register: noderegister
- name: create writer NODE
  become: yes
  become_user: edjruntime
  command: edjx node gen-env {{ CERTIFICATES }}/private.pem -i $ip -o runtime/.env {{ flags }}
  when: "'writer' in group_names"
