---
# tasks file for edjruntime
       - name: edjcli binary
         shell: wget "{{ runtime.zip }}" -O runtime.zip
         register: runtime.zip
       - name: Extract runtime.zip
         unarchive:
          remote_src: yes
          src: runtime.zip
          dest: ./
          list_files: yes
         register: unzip
       - name: delete runtime.zip
         shell: rm -f runtime.zip
       - name: Install CLI
         shell: sudo curl -L "https://edjx-alpha.nyc3.digitaloceanspaces.com/edjcli/alpha/linux/amd64/edjx" -o /usr/local/bin/edjx && sudo chmod +x /usr/local/bin/edjx
         register: cli
       - name: init
         shell: edjx config init
         register: init
       - name: edjx login
         shell:  edjx login -u {{ username }} -p {{ password }}
         register: login
       - name: node register
         shell: |
          ip=$(wget -q -O - ipinfo.io/ip)
          edjx genkeys --priv runtime/certificates/private.pem --pub runtime/certificates/public.pem
          edjx node init runtime/certificates/private.pem
          edjx node gencsr runtime/certificates/private.pem -o runtime/certificates/csr.pem
          edjx node createcert runtime/certificates/csr.pem -c runtime/certificates/cert.pem
          edjx node gen-env runtime/certificates/private.pem -o runtime/.env_user -i $ip
          sed -i '/^\s*$/d' runtime/.env
          cat runtime/.env_user >> runtime/.env
       - debug:
           msg: runtime.zip.stdout
       - debug:
           msg: unzip.stdout
       - debug:
           msg: cli.stdout
       - debug:
           msg: login.stdout
           

          
