- name: get BOOTSTRAP_NODE_ADDRESS
  become: yes
  become_user: edjruntime
  command: edjx node get-env EDJNET_LISTEN_ADDRS
  register: BOOTSTRAP_NODE_ADDRESS
  when: "'bootstrap' in group_names"
- set_fact:
      BOOTSTRAP_NODE_ADDRESS: "{{ BOOTSTRAP_NODE_ADDRESS.stdout }}"
  when: "'bootstrap' in group_names"
- name: get WRITER_NODE_ID
  become: yes
  become_user: edjruntime
  ignore_errors: yes
  command: edjx node get-env NODE_ID
  when: "'writer' in group_names"
  register: writer
- debug:
       msg: "{{ writer.stdout }}"
  when: "'writer' in group_names"
- set_fact:
     WRITER_NODE_ID: "{{ writer.stdout }}"
  when: "'writer' in group_names"
- name: normal node
  become: yes
  become_user: edjruntime
#  retries: 4
#  delay: 5
  shell: |
       ip=$(wget -q -O - ipinfo.io/ip)
       edjx node gen-env {{ CERTIFICATES }}/private.pem -i $ip -o runtime/.env -w {{ hostvars[groups['writer'][0]].WRITER_NODE_ID }} -b {{ hostvars[groups['bootstrap'][0]].BOOTSTRAP_NODE_ADDRESS }} {{ flags }}
  when: "'normal' in group_names"
  register: NORMAL
